# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
.DS_Store
[Bb]in
[Ii]nclude
[Ll]ib
[Ss]cripts
[Ss]ite
#[Dd]ata
test
testapp
pyvenv.cfg
pip-selfcheck.json
chazzer_token.py
__pycache__
*.back
thumbnails-cache/
#static/images/*
goddit_app_token.py
